<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<title>About Us</title>
</head>
<body>
	<form action="">
		<fieldset>
			<legend>Ninja Application</legend> 	
			First Name: <input type="text" name="first_name" /><br />
			Last Name: <input type="text" name="last_name" /><br />
			<input type="radio" name="fulltime" />Full-time
			<input type="radio" name="parttime" />Part-time<br />
			<input type="submit" value="Submit" />
		</fieldset>
	</form>
</body>
</html>