<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<title>About Us</title>
</head>
<body>
	<h1>About Us</h1>
	<p>We ninjas are a vibrant and diverse people, but there are some things we pride ourselves on.</p>
	<ul>
		<li>Ninjas are great</li>
		<li>Ninjas use shuriken for fighting and for fun</li>
		<li>Ninjas hate Samurai</li>
		<ul><li>We do not discuss Tom Cruise</li></ul>
		<li>Ninjas always celebrate Taco Tuesday</li>
	</ul>
	<p>Learn more at our next meeting ... if you can find us.</p>
</body>
</html>