* {
	margin: 0px;
	padding: 0px;
}
#container {
	width: 802px;
	margin: 20px auto;
}
input[type="text"] {
	background-color: gold;
	padding: 8px;
	margin-left: 8px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
}
.building:first-of-type {
	margin-left: 0px;
}
.building {
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	background: #eee;
	text-align: center;
	padding: 20px 10px;
	width: 160px;
	margin: 20px 0px 20px 20px;
}
.building p {
	margin: 8px 0px;
}
#activities {
	width: 800px;
	height: 100px;
	border: 1px solid black;
	overflow-y: scroll;
}
.green {
	color: green;
}
.red {
	color: red;
}